<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Languages" value="hu" />
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=LogXExplorerEasyTest"/>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=LogXExplorer" />
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=LogXExplorer.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3"/>
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPrivateServices/"
        binding="basicHttpBinding" bindingConfiguration="" contract="LogXExplorer.Module.comm.ILogXPrivateServices"
        name="" kind="" endpointConfiguration="">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <!-- client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPrivateServices/"
        binding="basicHttpBinding" bindingConfiguration="" contract="LogXExplorer.Module.comm.ILogXPrivateServices"
        name="" kind="" endpointConfiguration="">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client -->
  </system.serviceModel>
</configuration>
