<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="EndpointUrl" value="opc.tcp://192.168.0.15:4840" />
    <add key="DiscoveryUrl" value="opc.tcp://192.168.0.15:4840" />
    <add key="secPolicy" value="http://opcfoundation.org/UA/SecurityPolicy#None"  />
    <add key="opcserver" value="" />
    <add key="opcuser" value="" />
    <add key="opcpwd" value="" />
    <add key="OpcSetNodId" value="ns=4;i=1001" />
    <add key="OpcSetObjId" value="ns=4;i=1000" />
    <add key="OpcGetNodId" value="ns=4;i=1007" />
    <add key="OpcGetObjId" value="ns=4;i=1000" />
    <add key="OpcModNodId" value="ns=4;i=1010" />
    <add key="OpcModObjId" value="ns=4;i=1000" />
    <add key="OpcDelNodId" value="ns=4;i=1004" />
    <add key="OpcDelObjId" value="ns=4;i=1000" />
    
    <add key="OpcQueryQSize" value="ns=4;i=1000" />    <!-- +++++++++  -->
    <add key="ImportFolder" value="c:\\Projects\\LogXGolem\\Imports\\" />
    <add key="Languages" value="hu" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="thread_sleepmillis" value="200" />
    <add key="plc_max_q_size" value="100" />
    
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=LogXExplorer" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <system.serviceModel>

    <!-- 
    <services>
      <service name="LogXExplorer.ApplicationServer.LogXServer" behaviorConfiguration="LogXPrivateServicesBehav">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPrivateServices/"
          binding="basicHttpBinding" bindingConfiguration="" name="private"
          contract="LogXExplorer.Module.comm.ILogXPrivateServices" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPublicServices/"
          binding="basicHttpBinding" bindingConfiguration="" name="public"
          contract="LogXExplorer.Module.comm.ILogXPublicServices" />
      </service>
    </services>
    -->

    <services>
      <service name="LogXExplorer.ApplicationServer.ws.LogXPrivateServices" behaviorConfiguration="LogXPrivateServicesBehav">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPrivateServices/"
          binding="basicHttpBinding" bindingConfiguration="" name="private"
          contract="LogXExplorer.Module.comm.ILogXPrivateServices" />
      </service>

      <service name="LogXExplorer.ApplicationServer.ws.LogXPublicServices" behaviorConfiguration="LogXPublicServicesBehav">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPublicServices/"
          binding="basicHttpBinding" bindingConfiguration="" name="public"
          contract="LogXExplorer.Module.comm.ILogXPublicServices" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

        <behavior name="LogXPrivateServicesBehav">
          <serviceMetadata
            httpsGetEnabled="false"
            policyVersion="Policy15"
            httpGetEnabled="True"
            httpGetUrl="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPrivateServices/wsdl" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

        <!--   -->
        <behavior name="LogXPublicServicesBehav">
          <serviceMetadata
             httpsGetEnabled="false"
             policyVersion="Policy15"
             httpGetEnabled="True"
             httpGetUrl="http://localhost:8733/Design_Time_Addresses/LogXExplorer.ApplicationServer/LogXPublicServices/wsdl" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>